
@{
    ViewBag.Title = "Acrilica";
    Layout = "~/Views/Master/Publico.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bgAcri">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color:black;">Pintura Acrílica</h2>
                        <p style="color:black;">Pintura <span>//</span>Acrílica</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">

                    </div>
                    <div class="blog_details">
                        <h1>
                            Pintura Escolar Vinílica
                        </h1>
                        <p class="excert">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Paleta de Colores</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a>
                                    <img class="img-fluid" src="~/img/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img class="img-fluid" src="~/img/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img class="img-fluid" src="~/img/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img class="img-fluid" src="~/img/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a>

                                    <img class="img-fluid" src="~/img/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img class="img-fluid" src="~/img/post/post_10.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

