
@{
    ViewBag.Title = "QuienesSomos";
    Layout = "~/Views/Master/Publico.cshtml";
}

<!-- breadcrumb start-->
<!-- breadcrumb start-->
<!-- about part start-->
<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img src="~/img/tranajp.jpg" class="img_1" alt="">
                    <img src="~/img/Kidsandpaint.jpg" class="img_2" alt="">
                    <h2>
                        25 años de <br>
                        Experiencia
                    </h2>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-4">
                <div class="about_text">
                    <h5>Acerca de nosotros</h5>
                    <h2>
                        Pintando el mundo de COLORES
                    </h2>
                    <p style="text-align:justify;">
                        Somos mayoristas dedicados a proporcionar pinturas escolares de gran calidad, nuestro objetivo es
                        brindarle pinturas al mejor precio posible con el fin de satisfacer sus necesidades en papelería teniendo en
                        cuenta que la calidad del mismo es un punto clave, así tener una satisfacción completa de los productos de igual
                        forma actuamos como proveedores ofreciendo un excelente servicio.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="hero-app-7 custom-animation"><img src="~/img/animate_icon/icon_7.png" alt=""></div>
    <div class="hero-app-8 custom-animation2"><img src="~/img/animate_icon/icon_4.png" alt=""></div>
    <div class="hero-app-6 custom-animation3"><img src="~/img/animate_icon/icon_5.png" alt=""></div>
</section>
<!-- about part start-->
<!-- happy_client counter start -->
<section class="happy_client">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_happy_client">
                    <img src="~/img/icon/pantone1.svg" alt="cap">
                    <span class="counter">48</span>
                    <h4>Pinturas <br>Vinílicas</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_happy_client">
                    <img src="~/img/icon/pantone.svg" alt="cap">
                    <span class="counter">95</span>
                    <h4>Pinturas <br>Acrílicas</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_happy_client">
                    <img src="~/img/icon/laugh.svg" alt="cap">
                    <span class="counter">830</span>
                    <h4>Clientes<br>Satisfechos</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_happy_client">
                    <img src="~/img/icon/palette.svg" alt="cap">
                    <span class="counter">1000</span>
                    <h4>Tareas<br>terminadas</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- happy_client counter end -->
<!-- service_part start-->
<section class="our_latest_work section_padding">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <h2>¿Quiénes Somos?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="single_work">
                    <div class="row align-items-center">
                        <div class="offset-lg-1 col-lg-4 col-md-6">
                            <div class="single_work_demo">
                                <h5></h5>
                                <h3>Misión</h3>
                                <p>
                                    Brindar un producto de excelente calidad y precio con finalidad de
                                    que nuestros clientes ofrezcan un gran producto a un precio razonable.
                                </p>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-6 col-md-6">
                            <div class="demo_img">
                                <img src="~/img/Back1.jpg" alt="demo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_work">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="demo_img">
                                <img src="~/img/100003844230.png" alt="demo">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_work_demo">
                                <h5></h5>
                                <h3>
                                    Visión
                                </h3>
                                <p>
                                    Ser la empresa papelera líder en el sureste mexicano, brindando una excelente calidad de producto
                                    con el fin de satisfacer las altas exigencias de nuestros clientes, de igual forma brindarle un 
                                    servicio rápido y confiable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_work">
                    <div class="row align-items-center">
                        <div class="offset-lg-1 col-lg-4 col-md-6">
                            <div class="single_work_demo">
                                <h5></h5>
                                <h3>Valores</h3>
                                <p>
                                    Respeto, Responsabilidad, Honestidad y Transparencia, Constancia, Integridad , Confianza
                                </p>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-6 col-md-6">
                            <div class="demo_img">
                                <img src="~/img/gobierno-corporativo.jpg" alt="demo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->
