<html lang="es-MX">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>
        Pinturas Pincelitos
    </title><!-- Behavioral Meta Data -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><!-- Core Meta Data -->
    <meta content="La mejor pagina de pintura del pais" name="description">
    <meta content="Pinturas Escolares, Pinturas, vinilica, Acrilica, Pincelitos" name="keywords"><!-- Open Graph Meta Data -->
    <link rel="icon" type="image/png" href="~/images/ICO.png">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'><!-- Styles -->
    <link href="~/css/loader.css" rel="stylesheet" type="text/css">
    <link href="~/css/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- Javascript -->

    <script src="~/js/jquery.js"></script>
</head>
<body>
    <div class="preloader">
        <div class="loading">
            <h2>
                .....
            </h2>
            <span class="progress"></span>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    

    <!-- Javascript -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
